__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.log

venv/
env/
.venv/

.vscode/
.idea/
*.iml

.gradle/
build/
app/build/
captures/
.externalNativeBuild/
.cxx/
local.properties
*.apk
*.aab
*.keystore

.DS_Store
Thumbs.db

*.bak
